html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
	font-family: "Bruno Ace SC", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.5;
}

a{
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

img{
	max-width: 100%;
	vertical-align: middle;
	height: auto;
}

/* 背景樣式+排版 */

.container{
	width: 1296px;
	margin: 0 auto;
}

.content{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title{
	padding: 24px;
}

.contact-me{
	padding: 12px;
	background: #fff;
	border-radius: 32px;
	color: #000;
}

.introduction{
	background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true);
	background-repeat: no-repeat;
	block-size: cover;
}

.personality{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	width: 636px;
}

.personality li{ 
	width: calc(50% - 12px);
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
	padding: 16px;
}

.contactme-bg{
	background :linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

.contact li{
	border-radius: 40px;
}

.Projects{
	width: 746px;
	margin-left: auto;
}

.see-more{
	background: #000;
	padding: 12px 24px;
	border-radius: 25px;
}

/* 字型.顏色 */
.h1{
	font-size: 128px;
}

.h2{
	font-size: 64px;
}

.fz-1{
	font-size: 32px;
}

.fz-2{
	font-size: 24px;
}

.fz-3{
	font-size: 20px;
}

.fz-4{
	font-size: 16px;
}

.col-1{
	color: #d1d1d1;
}

.col-2{
	color: #00ffa3;
}

.text-white{
	color: #fff;
}

.ta-r{
	text-align: right;
}

/* 寬高 */

.db{
	display: block;
}

.w526{
	width: 526px;
}

.w636{
	width: 636px;
}

.p160{
	padding: 160px 0;
}

.p96{
	padding: 96px 0;
}

.p40{
	padding: 40px 0;
}

.p16{
	padding: 16px;
}

.mr16{
	margin-right: 16px;
}

.gap24{
	gap: 24px;
}

.gap28{
	gap: 28px;
}

.mb28{
	margin-bottom: 28px;
}

.mb32{
	margin-bottom: 32px;
}

.mb36{
	margin-bottom: 36px;
}

.mb72{
	margin-bottom: 72px;
}

/* 元素設定 */

.bg000{
	background: #000;
}

.bgfff{
	background: #fff;
}

.d-flex{
	display: flex;
}

.jc-e{
	justify-content: end;
}

.fd-c{
	flex-direction: column;
}

.jc-c{
	justify-content: center;
}

.jc-sb{
	justify-content: space-between;
}

.ai-c{
	align-items: center;
}

.ai-s{
	align-items: start;
}

.flw-w{
	flex-wrap: wrap;
}

/* 連結樣式 */
.contact-me:hover{
	box-shadow: 0px 0px 16px 3px #acacc2e5; 
}

.contact li:hover{
	box-shadow: 0px 0px 16px 3px #7bdde0e5;
}

.btn a:hover{
	box-shadow: 0px 0px 16px 3px #090979e5;
	transition: 0.5s;
}